<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianqian.brand.mapper.PrdCategoryMapper"> 
	<select id="queryByParentId" parameterType="java.lang.Long"
		resultType="com.qianqian.brand.model.PrdCategory">
		SELECT
			id AS "id",
			parent_Id as "parentId",
			`name` as "name",
			en_name AS "enName",
			logo_url as "logoUrl",
			enabled as "enabled",
			priority as "priority",
			org_code as "orgCode",
			remark as "remark",
			is_del as "isDel",
			creator AS "creator",
			create_date AS "createDate",
			modifier AS "modifier",
			modify_date AS "modifyDate",
			version
		FROM
			prd_category where parent_Id=#{parentId}
	</select>
	
</mapper>