@charset "utf-8";
/* CSS Document */
/************************************填写申请理由提交页*****************************************/
.blog_blc h2{ float:left; font-size:14px; height:26px; line-height:26px; padding:0 15px; color:#fff; background:url(../images/lucency_icon/order_information_01.jpg) right no-repeat #8fc31f;}
.blog_blcc{ clear:both; border:1px solid #8fc31f; padding:20px 60px 20px 60px; background:#fcfcfc;}

.center_top label{ float:left; font-size:14px; color:#333; line-height:33px;}
.center_top input{ float:left; width:750px; border:1px solid #ccc; line-height:33px; height:33px;}
.center_top textarea{ float:left; border:1px solid #ccc; height:120px; padding:5px; width:740px;}
.center_top span{ float:left; margin-left:5px; line-height:33px;}
.center_top span.margin_top{ margin-top:105px;}

.blog_blcc .fl{ font-size:14px; color:#484848;}
.blog_blcc .fl,.blog_blcc .fr{ line-height:30px;}
input.w_input{ float:right; font-size:14px; padding:0 25px; height:30px; background:url(../images/lucency_icon/data02.png) repeat-x; color:#fff; border:none;}
.blog_blcc .fr span{ color:#f60; font-size:16px; margin-right:20px;}

.hinta{ display:none; position:absolute; width:520px; background:#88c700; padding:10px; z-index:80;}
.hinta h2{ text-align:center; font-size:16px; color:#fff; line-height:24px; margin-bottom:8px; position:relative;}
.hinta h2 a{ display:block; width:15px; height:15px; background:url(../images/icon/x.png) no-repeat; position: absolute; right:1px; top:5px;}
.hinta p{ width:520px; height:115px; padding-top:30px; background:#fff; text-align:center; font-size:18px; line-height:40px;box-shadow:2px 2px 10px #666;}
.hinta dl{ width:420px; min-height:160px; padding:10px 50px; background:#fff;box-shadow:2px 2px 10px #666;}
.hinta dl dt{ font-size:16px; border-bottom:1px solid #6fa300; line-height:78px; text-align:center;}
.hinta dl span{ text-align:center; color:#6fa300; width:420px; display:block; line-height:20px; font-size:14px; margin-top:10px;}
.hinta dl dd{ text-align:center; margin:28px 0 10px 0;}
.hinta dl dd input{ min-width:95px; height:30px; padding:0 20px; border:none; color:#fff;cursor: pointer; margin:0 30px;}
.hinta dl dd input.l_bj{ background:url(../images/lucency_icon/yzm01.jpg) repeat-x;}
.hinta dl dd input.h_bj{ background:url(../images/lucency_icon/data02.png) repeat-x;}

.hintb{ width:440px; background:#fff; border:1px solid #c9c9c9; box-shadow:2px 2px 10px #666; position:absolute; z-index:999; display:none; position:absolute;}
.hintc{ width:540px; background:#fff; border:1px solid #c9c9c9; box-shadow:2px 2px 10px #666;}
.hintb h2{ height:60px; line-height:60px; color:#fff; font-size:18px; text-align:center; background:#88c700; position:relative;}
.hintb h2 a{ display:block; width:15px; height:15px; background:url(../images/icon/x.png) no-repeat; position: absolute; right:5px; top:10px;}
.hintb .text{ padding:30px; text-align:center;}
.hintb .text p{ font-size:14px; line-height:24px; text-align:left;}
.hintb .text input{ min-width:95px; height:30px; padding:0 20px; border:none; color:#fff;cursor: pointer; margin-top:50px;}
.hintb .text input.l_bj{ background:url(../images/lucency_icon/yzm01.jpg) repeat-x;}

.hintb dl{ padding:30px; text-align:center; font-size:14px;}
.hintb dl dt{ border-bottom:1px dashed #999; text-align:left; line-height:24px; padding-bottom:25px;}
.hintb dl dd{ border-bottom:1px dashed #999; text-align:left; line-height:24px; padding:15px 45px;}
.hintb dl dd input{ float:right; min-width:95px; height:25px; padding:0 20px; border:none; color:#fff;cursor: pointer;}
.hintb dl dd input.h_bj{ background:url(../images/lucency_icon/data03.jpg) repeat-x;}

.hintb dl span{ text-align:center; margin:40px 0 20px 0;}
.hintb dl span input{ min-width:95px; height:30px; padding:0 20px; border:none; color:#fff;cursor: pointer; margin:0 30px;}
.hintb dl span input.l_bj{ background:url(../images/lucency_icon/yzm01.jpg) repeat-x;}
.hintb dl span input.h_bj{ background:url(../images/lucency_icon/yzm01.jpg) repeat-x;}

.hintc{ width:540px; background:#fff; border:1px solid #c9c9c9; box-shadow:2px 2px 10px #666;}
.hintb h2{ height:60px; line-height:60px; color:#fff; font-size:18px; text-align:center; background:#88c700; position:relative;}
.hintb h2 a{ display:block; width:15px; height:15px; background:url(../images/icon/x.png) no-repeat; position: absolute; right:5px; top:10px;}
.hintb .text{ padding:30px; text-align:center;}
.hintb .text p{ font-size:14px; line-height:24px; text-align:left;}
.hintb .text input{ min-width:95px; height:30px; padding:0 20px; border:none; color:#fff;cursor: pointer; margin-top:50px;}
.hintb .text input.l_bj{ background:url(../images/img/yzm03.jpg) repeat-x;}

/************************************免费试用申请单拉赞页*****************************************/
.blog_bl{ width:720px;}
.blog_blce{ padding:20px 35px 20px 35px;}
.blog_blcf{ padding:20px 10px 0 10px;}
.blog_blcd p{ display:inline; font-size:14px; margin:0 30px;}
.blog_blcd p span{ font-size:22px; position:relative;top:3px;}
.blog_blce ul li{ float:left; width:650px; line-height:24px; margin:5px 0; font-size:14px; color:#333;}
.blog_blce ul li em{ float:left; width:100px; color:#f60;}
.blog_blce ul li span{ float:left; width:550px; display:block;}
.blog_blce ul li span.fize16{ font-size:24px; font-weight:bold; font-family:"Arial Unicode MS"; color:#f60; position: relative; top:-2px;}
.blog_blc h5{ height:40px; background:url(../images/icon/bj_sj.jpg) no-repeat; line-height:40px; font-size:16px; padding-left:30px; color:#fff; text-align:center;}
.blog_text{ line-height:24px; font-size:14px; border-bottom:1px dashed #ccc; display:block; margin-bottom:25px; padding:5px 0 20px 0;}
.praise{ text-align:center;}
.praise a{ width:150px; height:50px; line-height:50px; display:inline-block; margin:0 60px; font-size:18px; color:#fff; text-indent:30px;}
.praise a.praise01{ background:url(../images/button/yzm09.jpg) no-repeat;}
.praise a.praise02{ background:url(../images/button/yzm10.jpg) no-repeat;}

.margin25{ margin:0 25px;}
.center_bottom .texta{ width:640px; height:140px; border:1px solid #ccc; padding:5px;}
.center_bottom label{ font-size:14px; margin:0px 0 5px 0; color:#333;}
.center_bottom label span{ float:right; font-size:12px; color:#f60; margin:5px 50px 0 0;}
.center_bottom p{ line-height:25px;}
.center_bottom p input{ float:right; cursor: pointer;}
.center_bottom p .yul{ padding:0 20px; height:25px; background: url(../images/lucency_icon/data03.jpg) repeat-x; border:none; color:#fff; font-size:14px;}
.center_bottom p .wbtijiao{ padding:0 20px; height:25px; background: url(../images/lucency_icon/geren_03.jpg) repeat-x; border:none; color:#fff; font-size:14px;}
.wbtijiao1{ padding:0 20px; height:25px; background: url(../images/lucency_icon/geren_03.jpg) repeat-x; border:none; color:#fff; font-size:14px;}
.bb_b li{ padding:10px 15px; line-height:24px; border-bottom:1px solid #6fa301;}
.bb_b li p{ clear:both; margin:5px 0; color:#333;}
.bb_b li p.bjt{}
.bb_b li p.bjt img{ float:left; margin-right:10px; border:1px solid #ccc;}
.bb_b li p.bjt span{ float:left; margin-top:32px;}
.bb_b li p.border_bottom{ border-top:1px dashed #ccc;}
.bb_b li p em.yellow{ font-size:12px; font-weight:normal; color:#f60;}
.bb_b li p a{ float:right; color:#6fa300; margin-left:30px; margin-top:32px;}
.bb_b li p a.red{ color:#f00;}

/************************************免费试用查看申请单状态*****************************************/
.n_order p.green{ font-size:16px; margin:30px 0 15px 0;}
.n_order p.green span{ float:right; font-size:14px; height:17px; color:#f60; background:url(../images/icon/yzm25-01.jpg) no-repeat 0 2px; padding-left:40px;}
.n_order p.green span.fize12{ height:17px; line-height:17px; font-size:12px; background: url(../images/lucency_icon/yzm15.png) no-repeat; padding-left:25px; margin-right:200px;}
.n_order p.green span em{ color:#333;}
.n_order01{ width:950px; border:1px solid #ccc; padding:25px;}
.padding_10{ width:990px; height:60px; border:1px solid #ccc; padding:5px;}
.n_order01a{ border-bottom:1px dashed #c1c1c1; font-size:14px; padding-bottom:10px;}

.n_traceq{ border:1px solid #ccc;}
.n_traceqt{ background:#f9f9f9; height:128px; padding-top:28px;}
.n_traceqt span{ float:left; min-width:130px; text-align:center; font-size:12px; font-family:"宋体"; line-height:24px; margin-top:10px;}
.n_traceqt span.span01{ margin-left:36px;}
.n_traceqt span.span02{ margin-left:150px;}
.n_traceqt span.span03{ margin-left:130px;}
.n_traceqt span.span04{ margin-left:128px;}
.n_traceqt span.bold em{ font-weight:bold;}
.bj_trace01{ width:829px; height:30px; background:url(../images/lucency_icon/yzm14_2.png) no-repeat 0 0; clear:both; margin:15px auto 0 auto;}
.bj_trace02{ width:829px; height:30px; background:url(../images/lucency_icon/yzm14_2.png) no-repeat 0 -32px; clear:both; margin:15px auto 0 auto;}
.bj_trace03{ width:829px; height:30px; background:url(../images/lucency_icon/yzm14_2.png) no-repeat 0 -64px; clear:both; margin:15px auto 0 auto;}
.bj_trace04{ width:829px; height:30px; background:url(../images/lucency_icon/yzm14_2.png) no-repeat 0 -96px; clear:both; margin:15px auto 0 auto;}

.n_traceqt span.spana01{ margin-left:12px;}
.n_traceqt span.spana02{ margin-left:38px;}
.n_traceqt span.spana03{ margin-left:40px;}
.n_traceqt span.spana04{ margin-left:38px;}
.n_traceqt span.spana05{ margin-left:40px;}
.n_traceqt span.spana06{ margin-left:40px;}
.n_traceqt span em{ font-size:14px; font-family:"微软雅黑";}
.n_traceqt span.bold em{ font-weight:bold;}
.bja_trace01{ width:876px; height:30px; background:url(../images/lucency_icon/yzm14_3.png) no-repeat 0 0; clear:both; margin:15px auto 0 auto;}
.bja_trace02{ width:876px; height:30px; background:url(../images/lucency_icon/yzm14_3.png) no-repeat 0 -41px; clear:both; margin:15px auto 0 auto;}
.bja_trace03{ width:876px; height:30px; background:url(../images/lucency_icon/yzm14_3.png) no-repeat 0 -89px; clear:both; margin:15px auto 0 auto;}
.bja_trace04{ width:876px; height:30px; background:url(../images/lucency_icon/yzm14_3.png) no-repeat 0 -137px; clear:both; margin:15px auto 0 auto;}
.bja_trace05{ width:876px; height:30px; background:url(../images/lucency_icon/yzm14_3.png) no-repeat 0 -179px; clear:both; margin:15px auto 0 auto;}
.bja_trace06{ width:876px; height:30px; background:url(../images/lucency_icon/yzm14_3.png) no-repeat 0 -223px; clear:both; margin:15px auto 0 auto;}

.n_order02{ background:#f9f9f9; padding:25px; font-size:14px; color:#333;}
.n_order02 p{ float:left; font-size:14px; color:#333; margin-right:100px;}
.n_order02 span{ margin-right:35px;}
.n_order02 em{ float:left; width:236px; margin:10px 0;}

table.tab_noe{ width:1000px; border-collapse:collapse;}
table.tab_noe thead{ background:#f4fbe5;}
table.tab_noe thead th{ height:34px; font-weight:normal; font-size:14px; color:#333; border:1px solid #c2de86;}

table.tab_noe tbody{ border:1px solid #ccc;}
table.tab_noe tbody td{ font-size:14px; border:1px dotted #ccc; height:105px;}
table.tab_noe tbody tr.h_70 td{ height:70px;}
table.tab_noe tbody tr.h_70 td span{ width:330px; display:inline-block;}
table.tab_noe tbody td.mc_span{ padding:0 10px;}
table.tab_noe tbody td.mc_span span{ width:180px; line-height:28px; margin-top:12px;}





.padding_bottom{ padding-bottom:10px;}
.bottom_none{ border-bottom:none; padding-bottom:0;}
.n_order01a li .luse,.n_order01b li .green{ float:left; width:140px;}
.n_order01a li .fl p{ color:#333; margin-bottom:20px;}
.n_order01a li .fl p a{ margin-left:40px;}
.n_order01a li .fl p span{ display:inline-block;}
.n_order01a li .fl p span.width140{ width:140px;}
.n_order01a li .fl p span.width200{ width:200px;}

.n_order03b08{ width:820px; background:#f9f9f9; padding:0 90px;}
.n_order03b08 dt,.n_order03b08 dd{ float:left; padding:10px 0; width:820px; text-align:left; border-bottom:1px dashed #6fa300; font-size:14px; color:#333; line-height:24px;}
.n_order03b08 dt input{ height:25px; padding:0 10px; margin-top:11px; background: url(../images/lucency_icon/data03.jpg) repeat-x; border:none; color:#fff; font-size:14px;cursor: pointer;}
.n_order03b08 dt span{ margin-left:15px; margin-right:15px;}
.n_order03b08 dt p,.n_order03b08 dd p{ float:left; margin-right:15px; color:#6fa300;}
.n_order03b08 dd{ border:none;}
.n_order03b08 dd em{ float:left; font-size:12px; color:#f60;}
.n_order03b08 dd input{ margin-top:10px; float:right; padding:0 50px; height:30px; font-size:14px; background: url(../images/lucency_icon/yzm01.jpg) repeat-x; color:#fff; border:none;}

.n_order01b{ font-size:14px; color:#333;}
.n_order01b li .fl p{ margin-bottom:20px;}
.n_order01b li .fl p span{ margin-right:15px;}
.n_order01b li .fl p em{ color:#6fa300;}
.n_order01b li .fl .width740{ float:left; position:relative; left:16px; top:-5px; padding:15px; width:710px; margin-bottom:0; background:#f9f9f9; clear:both;}
.n_order01b li .fl .width740 li{ float:left; width:710px; margin:7px 0;}
.n_order01b li .fl .width740 li label.fl_lft{ float:left; width:90px; text-align:right; line-height:30px;}
.n_order01b li .fl .width740 li label.fl_lft em{ position: relative; top:2px;}
.n_order01b li .fl .width740 li input{ float:left; line-height:30px; border-radius:2px; border:1px solid #a0a0a0}
.n_order01b li .fl .width740 li input.input145{ width:145px; height:28px;}
.n_order01b li .fl .width740 li select.select120{float:left; height:30px; border-radius:2px; line-height:30px; color:#999; border:1px solid #a0a0a0; width:120px; margin-right:5px;}
.n_order01b li .fl .width740 li input.input470{ width:470px; height:28px;}
.n_order01b li .fl .width740 li input.input180{ width:189px; height:28px;}
.n_order01b li .fl .width740 input.input125{ margin-left:15px; font-size:14px; padding:0 15px; height:30px; background:url(../images/lucency_icon/data02.png) repeat-x; color:#fff; border:none;}




.boreder_luse{ border:1px solid #6fa300;}
.n_numbera{ font-size:14px; background:url(../images/lucency_icon/yzm12.png) no-repeat; height:23px; line-height:23px; padding-left:40px}

.n_numberb{ font-size:20px; padding:80px 0px 80px 0px; color:#6d6d6d; color:#6fa300; text-align:center;}
.n_numberb span{ display:inline-block; height:44px; line-height:44px; padding-left:55px; background:url(../images/lucency_icon/yzm13.png) no-repeat;}
table.bolod tr td{ font-size:14px; color:#6d6d6d;}
table.bolod tr.bolodt{ width:998px; border-bottom:1px solid #c7c7c7; background:#eaeaea;}
table.bolod tr.bolodt td{ height:42px;}
table.bolod tr.bolodb{ border-bottom:1px solid #c7c7c7;}
table.bolod tr.bolodb_none{ border-bottom:none;}
table.bolod tr.bolodb td{ height:75px;}

.n_numberc p.n_numberc01{ background:#eaeaea; font-size:14px; color:#6d6d6d; line-height:45px; padding:0 30px;}
.n_numberc_bot{ padding:10px 30px;}
.n_numberc_bot p{ line-height:45px; font-size:14px; color:#6d6d6d;}
.numberc_center{ text-align:center; margin:30px 0;}
.numberc_center .input_100{ padding:0 20px; height:30px; background:url(../images/lucency_icon/yzm01.jpg) repeat-x; border:none; font-size:14px; color:#fff; margin:0 20px;cursor: pointer;}
.numberc_center .input_101{ padding:0 20px; height:30px; background:url(../images/lucency_icon/yzm08.jpg) repeat-x; border:none; font-size:14px; color:#666; border:1px solid #ccc; margin:0 20px;cursor: pointer;}
a.showbox{color:#fff; background:url(../images/img/yzm03.jpg) repeat-x; display:inline-block; width:100px; margin:0 20px; font-size:14px; height:30px; line-height:30px; text-align:center;}
.payment .Menubox ul li{ display:inline-block; padding:0 36px; height:40px; line-height:40px; background:#f9f9f9; font-size:14px; border:1px solid #ccc; border-bottom:none; border-radius: 8px 8px 0 0;}
.payment .Menubox ul li.hover{ position:relative; height:40px; top:1px; color:#6fa300; border:1px solid #6fa300; border-bottom:none; background:#fff;}
.payment .Contentbox{ border:1px solid #6fa300; padding:0;}
.n_numberc_bota p{ line-height:55px; font-size:14px; text-indent:15px; color:#6d6d6d;}
.n_numberc_bota{ padding:12px;}
.n_numberc_bota ul li{ padding-left:18px;}
.n_numberc_bota ul li span{ float:left; margin:0 49px 20px 0;}
.n_numberc_bota ul li img{ border:1px solid #d2d2d2;}
.n_numberc_bota ul li input{ margin-top:12px; margin-right:10px;}
.payment .p{ text-align:center; margin:40px 0 30px 0;}
.payment .p input{ min-width:95px; height:30px; padding:0 30px; border:none; font-size:18px; color:#fff;cursor: pointer; margin:0 30px;}
.payment .p input.l_bj{ background:url(../images/lucency_icon/yzm01.jpg) repeat-x;}
.padding50{ padding:50px 0;}
.padding20{ padding:20px 0;}

.blog_blt h2{ font-size:16px; height:21px; padding-left:26px; color:#6fa300; background:url(../images/icon/yzm27.png) no-repeat 0 3px;}
.blog_bltc{ background:#fff; box-shadow:2px 2px 2px #E2E2E2; line-height:24px; text-align:center; font-size:14px; color:#333; padding:24px 0; margin-top:5px;}
.center{ text-align:center;}
.blog_blcg{ text-align:center;}
.blog_blcg p{ font-size:14px; margin:20px 0;}
.blog_blcg p input{ margin-right:5px;}
.blog_blcg p span{ width:70px; height:18px; text-align:left; display: inline-block; margin-right:10px;} 
.blog_blcg em{ display:inline-block; width:18px; height:18px; position:relative; top:3px; left:5px;}
.blog_blcg em.icon01{ background:url(../images/lucency_icon/icon_face.png) no-repeat 0 0;}
.blog_blcg em.icon02{ background:url(../images/lucency_icon/icon_face.png) no-repeat -18px 0;}
.blog_blcg em.icon03{ background:url(../images/lucency_icon/icon_face.png) no-repeat -36px 0;}
.blog_blcg em.icon04{ background:url(../images/lucency_icon/icon_face.png) no-repeat 0 -18px;}
.blog_blcg em.icon05{ background:url(../images/lucency_icon/icon_face.png) no-repeat -18px -18px;}
.blog_blcg em.icon06{ background:url(../images/lucency_icon/icon_face.png) no-repeat -36px -18px;}
.blog_blcg span.zhishu01{ width:242px; height:62px; margin:0 30px; line-height:62px; display:inline-block; background:url(../images/button/zhishu01.png) no-repeat;}
.blog_blcg span.zhishu02{ width:242px; height:62px; margin:0 30px; line-height:62px; display:inline-block; background:url(../images/button/zhishu02.jpg) no-repeat;}

.blog_blcd{ text-align:center; padding:40px 0 50px 0;}
.blog_blcd p{ display:inline; font-size:14px; margin:0 30px;}
.blog_blcd p span{ font-size:22px; position:relative;top:3px;}

.blog_blch{ border:1px solid #8fc31f; padding:20px 30px 10px 30px; background:#fafafa;}

.blog_blch .center_top label{ font-size:14px; color:#333;}
.blog_blch .center_top input{ width:558px; border:1px solid #ccc; line-height:33px; height:33px;}
.baog{ float:right; min-width:160px; height:25px; background:url(../images/lucency_icon/data03.jpg) repeat-x; border:none; color:#fff;}
.blog_blch .center_bottom label{ font-size:14px; margin:20px 0 5px 0; color:#333;}
.blog_blch .center_bottom label span{ float:right; font-size:12px; color:#f60; margin:5px 0 0 0;}
.blog_blch .center_bottom p{ line-height:25px;}
.blog_blch .center_bottom p input{ float:right; margin-right:8px; cursor: pointer;}
.blog_blch .center_bottom p .yul{ padding:0 20px; height:25px; background: url(../images/lucency_icon/data03.jpg) repeat-x; border:none; color:#fff; font-size:14px;}
.blog_blch .center_bottom p .wbtijiao{ padding:0 20px; height:25px; background: url(../images/lucency_icon/geren_03.jpg) repeat-x; border:none; color:#fff; font-size:14px;}

.blog_blch p.praise{ text-align:center; padding:35px 0; border-bottom:1px dashed #ccc;}
.blog_blch p.praise a{ width:150px; height:38px; padding:12px 0 0 0; display:inline-block; margin:0 60px; font-size:14px; color:#fff; font-weight:bold; text-indent:30px;}
.blog_blch p.praise a.praise01{ background:url(../images/button/yzm09_1.jpg) no-repeat;}
.blog_blch p.praise a.praise02{ background:url(../images/button/yzm10_1.jpg) no-repeat;}

.blog_blccwb{ text-align:center; border-bottom:1px dashed #ccc; padding-bottom:50px;}
.blog_blccwb b{ display:block; width:660px; font-size:16px; color:#535353; text-align:left;}
.blog_blccwb p{ color:#535353; font-size:14px; text-align:left; line-height:24px; margin-top:20px;}
.blog_blccwb img{ margin-top:20px;}

.tab_noe tbody tr td .border_img a.f_l{ margin-left:10px;}
.tab_noe tbody tr td .border_img p.w180{ display:block; width:180px; text-align:left; margin:10px 0 0 10px; line-height:28px;}
.tab_noe tbody tr td .border_img p.w180 a{ color:#333;}
.b_gray{ background:#f9f9f9; padding:0 110px; font-size:14px;}
.b_gray dl dt{ border-bottom:1px dashed #93d700; line-height:48px; padding:0 10px;}
.b_gray dl dt span em{ margin-right:10px;}
.b_gray dl dd{ padding:5px 10px; line-height:38px;}
.b_gray dl dd .green{ margin-right:10px;}
.b_gray dl dd .fl_green{ width:690px;}
.b_gray dl dd .fl_green em{ display:inline-block; width:172px;}
.b_gray dl dd .fl_green em.w200{ width:200px;}
.n_order04{ background:#f9f9f9; padding:5px 0;}
.n_order05{ background:none;}
.n_order04 span.fl{ float:left; width:auto; font-size:14px; background:url(../images/lucency_icon/yzm15.png) no-repeat; padding-left:25px; color:#f60;}
.n_order04 span{ float:right; font-size:16px; color:#333; width:200px; text-align:right; margin:5px 10px 0 0;}
input.input_180{ float:right; padding:0 60px; height:30px; background: url(../images/lucency_icon/yzm01.jpg) repeat-x; border:none; font-size:18px; color:#fff;}


.pianhao{ clear:both; width:100%;}
.pianhao_l{ float:left;}
.pianhao_r{ float:right; width:682px;}
.pianhao_r_t{ height:250px; border:1px solid #ccc; box-shadow:2px 2px 3px #E2E2E2;}
.pianhao_r_b{ height:220px; padding:15px 0; border:1px solid #ccc; box-shadow:2px 2px 3px #E2E2E2;}

.pianhao_r_b span.ph_rb_l{ float:left; width:152px; text-align:center; margin:15px 22px 0 22px;}
.pianhao_r_b span.ph_rb_l img{ border:1px solid #ccc;}
.pianhao_r_b span.ph_rb_l p{ width:152px; height:30px; margin-top:10px; line-height:30px; color:#fff; font-size:14px; text-indent:-10px; background:url(../images/lucency_icon/yzm01.jpg) repeat-x;}
.left{float:left;}
.ppphda{height:210px; margin:0; padding:10px 0 0 70px; border-left:1px solid #ddd;}

.xinxi{ border:1px solid #ccc;}
.xinxi_left{ float:left; width:290px; border-right:1px solid #ccc;}
.xinxi_left h2{ height:30px; line-height:30px; padding-left:25px; background:#f4fbe5; font-size:16px; color:#690;}
.xinxi_left ul{ padding:10px;}
.xinxi_left ul li{ clear:both; font-size:14px; line-height:24px;}
.xinxi_left ul li label{ float:left;}
.mui-form-right{ float:left; width:185px;}
.xinxi_left dl{ padding:12px 0;}
.xinxi_left dl dt{ float:left; width:70px; margin-top:12px; text-align:center;}
.xinxi_left dl dd{ line-height:24px;}
.xinxi_right{ float:right; width:700px; padding-top:105px; text-align:center; font-size:14px;}
.xinxi_right li { line-height:35px;}
.xinxi_right li.mb10{ margin-bottom:10px;}
.xinxi_right li em.zhus{ display:inline-block; width:32px; height:32px; position: relative; top:10px; margin-right:10px; background:url(../images/lucency_icon/zhus.jpg) no-repeat;}
.xinxi_right li em.yellow{ font-size:16px;}
.xinxi_right li span{ margin:0 10px;}
.xinxi_right li a{ margin:0 5px;}
.xinxi_right li .mybj01{ min-width:120px; height:30px; font-size:14px; color:#fff; background:url(../images/lucency_icon/yzm01.jpg) repeat-x; margin-left:10px;}

.zhif{ width:100%; border:1px solid #ccc; border-collapse:collapse;}
.zhif thead tr th{ height:30px; line-height:30px; padding-left:25px; color:#333; font-weight:normal; background:#f4fbe5; font-size:16px; color:#690;}
.zhif tbody tr td{ padding:0 25px; font-size:14px; line-height:24px; color:#333;}
.zhif tbody tr td span{ margin-right:40px;}