<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianqian.common.mapper.ImageAdMapper">
	<resultMap id="BaseResultMap" type="com.qianqian.common.model.ImageAd">
		<id column="ad_id" jdbcType="BIGINT" property="adId" />
		<result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
		<result column="access_url" jdbcType="VARCHAR" property="accessUrl" />
		<result column="url_target" jdbcType="VARCHAR" property="urlTarget" />
		<result column="loop_time" jdbcType="INTEGER" property="loopTime" />
		<result column="board_name" jdbcType="VARCHAR" property="boardName" />
		<result column="ad_state" jdbcType="INTEGER" property="adState" />
		<result column="create_by" jdbcType="BIGINT" property="createBy" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_by" jdbcType="BIGINT" property="updateBy" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="location_id" jdbcType="BIGINT" property="locationId" />
		<result column="id" jdbcType="BIGINT" property="id" />
		<result column="note" jdbcType="VARCHAR" property="note" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		ad_id, image_url, access_url, url_target, loop_time,
		board_name, start_time,
		end_time,
		ad_state, create_by, create_time,
		update_by, update_time
	</sql>
	<select id="selectByExample" parameterType="com.qianqian.common.model.ImageAdExample"
		resultMap="BaseResultMap">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from cms_image_ad
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from cms_image_ad
		where ad_id = #{adId,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		cms_image_ad
		where ad_id = #{adId,jdbcType=BIGINT}
	</delete>
	<delete id="deleteByExample" parameterType="com.qianqian.common.model.ImageAdExample">
		delete from cms_image_ad
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.qianqian.common.model.ImageAd">
		<selectKey resultType="java.lang.Long" order="BEFORE"
			keyProperty="adId">
			SELECT uuid_short() AS adId
		</selectKey>

		insert into cms_image_ad (ad_id, image_url, access_url, url_target,
		loop_time, board_name, ad_state, create_by, create_time, update_by,
		update_time) values (#{adId}, #{imageUrl,jdbcType=VARCHAR},
		#{accessUrl,jdbcType=VARCHAR}, #{urlTarget,jdbcType=VARCHAR},
		#{loopTime,jdbcType=INTEGER}, #{boardName,jdbcType=VARCHAR},
		#{adState,jdbcType=INTEGER}, #{createBy,jdbcType=BIGINT},
		#{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=BIGINT},
		#{updateTime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.qianqian.common.model.ImageAd">
		insert into cms_image_ad
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="adId != null">
				ad_id,
			</if>
			<if test="imageUrl != null">
				image_url,
			</if>
			<if test="accessUrl != null">
				access_url,
			</if>
			<if test="urlTarget != null">
				url_target,
			</if>
			<if test="loopTime != null">
				loop_time,
			</if>
			<if test="boardName != null">
				board_name,
			</if>
			<if test="startTime != null">
				start_time,
			</if>
			<if test="endTime != null">
				end_time,
			</if>
			<if test="adState != null">
				ad_state,
			</if>
			<if test="createBy != null">
				create_by,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateBy != null">
				update_by,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="adId != null">
				#{adId,jdbcType=BIGINT},
			</if>
			<if test="imageUrl != null">
				#{imageUrl,jdbcType=VARCHAR},
			</if>
			<if test="accessUrl != null">
				#{accessUrl,jdbcType=VARCHAR},
			</if>
			<if test="urlTarget != null">
				#{urlTarget,jdbcType=VARCHAR},
			</if>
			<if test="loopTime != null">
				#{loopTime,jdbcType=INTEGER},
			</if>
			<if test="boardName != null">
				#{boardName,jdbcType=VARCHAR},
			</if>
			<if test="startTime != null">
				#{startTime,jdbcType=TIMESTAMP},
			</if>
			<if test="endTime != null">
				#{endTime,jdbcType=TIMESTAMP},
			</if>
			<if test="adState != null">
				#{adState,jdbcType=INTEGER},
			</if>
			<if test="createBy != null">
				#{createBy,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null">
				#{updateBy,jdbcType=BIGINT},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.qianqian.common.model.ImageAdExample"
		resultType="java.lang.Integer">
		select count(*) from cms_image_ad
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update cms_image_ad
		<set>
			<if test="record.adId != null">
				ad_id = #{record.adId,jdbcType=BIGINT},
			</if>
			<if test="record.imageUrl != null">
				image_url = #{record.imageUrl,jdbcType=VARCHAR},
			</if>
			<if test="record.accessUrl != null">
				access_url = #{record.accessUrl,jdbcType=VARCHAR},
			</if>
			<if test="record.urlTarget != null">
				url_target = #{record.urlTarget,jdbcType=VARCHAR},
			</if>
			<if test="record.loopTime != null">
				loop_time = #{record.loopTime,jdbcType=INTEGER},
			</if>
			<if test="record.boardName != null">
				board_name = #{record.boardName,jdbcType=VARCHAR},
			</if>
			<if test="record.startTime != null">
				start_time = #{record.startTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.endTime != null">
				end_time = #{record.endTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.adState != null">
				ad_state = #{record.adState,jdbcType=INTEGER},
			</if>
			<if test="record.createBy != null">
				create_by = #{record.createBy,jdbcType=BIGINT},
			</if>
			<if test="record.createTime != null">
				create_time = #{record.createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.updateBy != null">
				update_by = #{record.updateBy,jdbcType=BIGINT},
			</if>
			<if test="record.updateTime != null">
				update_time = #{record.updateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update cms_image_ad
		set ad_id = #{record.adId,jdbcType=BIGINT},
		image_url = #{record.imageUrl,jdbcType=VARCHAR},
		access_url =
		#{record.accessUrl,jdbcType=VARCHAR},
		url_target =
		#{record.urlTarget,jdbcType=VARCHAR},
		loop_time =
		#{record.loopTime,jdbcType=INTEGER},
		board_name =
		#{record.boardName,jdbcType=VARCHAR},
		start_time =
		#{record.startTime,jdbcType=TIMESTAMP},
		end_time =
		#{record.endTime,jdbcType=TIMESTAMP},
		ad_state =
		#{record.adState,jdbcType=INTEGER},
		create_by =
		#{record.createBy,jdbcType=BIGINT},
		create_time =
		#{record.createTime,jdbcType=TIMESTAMP},
		update_by =
		#{record.updateBy,jdbcType=BIGINT},
		update_time =
		#{record.updateTime,jdbcType=TIMESTAMP}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.qianqian.common.model.ImageAd">
		update cms_image_ad
		<set>
			<if test="imageUrl != null">
				image_url = #{imageUrl,jdbcType=VARCHAR},
			</if>
			<if test="accessUrl != null">
				access_url = #{accessUrl,jdbcType=VARCHAR},
			</if>
			<if test="urlTarget != null">
				url_target = #{urlTarget,jdbcType=VARCHAR},
			</if>
			<if test="loopTime != null">
				loop_time = #{loopTime,jdbcType=INTEGER},
			</if>
			<if test="boardName != null">
				board_name = #{boardName,jdbcType=VARCHAR},
			</if>
			<if test="startTime != null">
				start_time = #{startTime,jdbcType=TIMESTAMP},
			</if>
			<if test="endTime != null">
				end_time = #{endTime,jdbcType=TIMESTAMP},
			</if>
			<if test="adState != null">
				ad_state = #{adState,jdbcType=INTEGER},
			</if>
			<if test="createBy != null">
				create_by = #{createBy,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null">
				update_by = #{updateBy,jdbcType=BIGINT},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where ad_id = #{adId,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.qianqian.common.model.ImageAd">
		update
		cms_image_ad
		set image_url = #{imageUrl,jdbcType=VARCHAR},
		access_url =
		#{accessUrl,jdbcType=VARCHAR},
		url_target =
		#{urlTarget,jdbcType=VARCHAR},
		loop_time =
		#{loopTime,jdbcType=INTEGER},
		board_name =
		#{boardName,jdbcType=VARCHAR},
		start_time =
		#{startTime,jdbcType=TIMESTAMP},
		end_time =
		#{endTime,jdbcType=TIMESTAMP},
		ad_state = #{adState,jdbcType=INTEGER},
		create_by = #{createBy,jdbcType=BIGINT},
		create_time =
		#{createTime,jdbcType=TIMESTAMP},
		update_by =
		#{updateBy,jdbcType=BIGINT},
		update_time =
		#{updateTime,jdbcType=TIMESTAMP}
		where ad_id = #{adId,jdbcType=BIGINT}
	</update>
	<!-- 通过位置查询广告并且按照位置进行排序 -->
	<select id="selectByLocationAndSort" resultMap="BaseResultMap"
		parameterType="com.qianqian.common.model.AdLocation">
		select c.id,b.location_id , b.note,a.ad_id, a.image_url,
		a.access_url,
		a.url_target, a.loop_time, a.board_name,
		ad_state,c.show_state
		from (select * from cms_ad_location
		where ad_type
		= 2 and page_type = #{pageType}
		and category = #{category} and
		location_type = #{locationType}
		<if test="floor != null">
				and location_floor = #{floor}
			</if>
		 order by
		sort asc) b
		left join (select * from cms_map_ad_location
		where
		show_state = 1) c on b.location_id=c.location_id
		left join (select *
		from cms_image_ad
		where ad_state = 1) a on c.ad_id=a.ad_id
	</select>
</mapper>